---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			I started learning HTML5 and CSS3 since 2022 then I made several projetcs. Python and C I used them for algorithms, files, and images.
			Now I am learning about Postgre and Java Script. Beside of that, I can use Shell script and Linux commandes which I am using everyday in my university. Some of theme, I have learn from internet, university and learning websites as learning-Uddom Pang.
		</p>
	</div>
</section>
